/* reset */
*{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}


.slide-wrapper{
    position: relative;
    width: 960px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}
.slides{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    transition: left .5s ease-out;
}
.slides li:not(:last-child){
    margin-right: 30px;
}
.controls{
    text-align: center;
    margin-top: 50px;
}
.controls span{
    background: #333;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
}